build
build-eclipse
.arc_jira_lib
.classpath*
.externalToolBuilders
.project
.settings
*.launch
*~
.idea
*.iml
*.ipr
*.iws
*.swp
.arc
target/
classes/
dependency-reduced-pom.xml
.vscode
.factorypath
tmp/
*/__pycache__/*
